.Home {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.shareBtn {
  position: absolute;
  left: 85%;
}

header {
  margin: 1rem 0;
  position: relative;
}

header img {
  border-radius: 50%;
}

header .name {
  font-weight: 700;
  font-size: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #eaecf0;
  border-radius: 8px;
  margin: 10px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.logos img {
  margin: 0.5rem;
}

hr {
  opacity: 0.4;
  margin-top: 5rem;
}

footer {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }
}

.contact {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  color: #475467;
}

.contact input,
textarea {
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: 1px solid #d0d5dd;
  outline: none;
}

.contact__body {
  max-width: 1000px;
  margin: 0 auto;
}

.contact__header h1 {
  font-weight: 600;
  font-size: 2.25rem;
  color: #101828;
}

.contact__header p {
  font-size: 1.25rem;
}


.contact__body label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 14px;
  padding: 0.4rem 0;
}

.contact__body .flex-col {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.1rem;
}

.contact__body .accept > label{
  padding-left: .5rem;
  font-weight: 400;
  font-size: 16px;
}

.contact__body #btn__submit {
  color: #fff;
  background-color: #1570ef;
  font-weight: 600;
  font-size: 16px;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  margin: 3rem 0;
  cursor: pointer;
}

#hint {
  font-size: 400;
  font-size: 0.875rem;
  margin: 0;
  padding: .2rem;
  color: red;
}

@media (min-width: 700px) {
  .contact__body .splitted .flex-col {
    width: 100%;
    margin: 0;
  }
  .contact__body .splitted {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}
