.Home {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.shareBtn {
  position: absolute;
  left: 85%;
}

header {
  margin: 1rem 0;
  position: relative;
}

header img {
  border-radius: 50%;
}

header .name {
  font-weight: 700;
  font-size: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #eaecf0;
  border-radius: 8px;
  margin: 10px;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.logos img {
  margin: 0.5rem;
}

hr {
  opacity: 0.4;
  margin: 2rem 0;
}

footer {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }
}

.contact {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.contact input,
label, textarea {
  display: block;
}

.contact__body {
  max-width: 1000px;
  margin: 0 auto;
}

.contact__header h1 {
  font-weight: 600;
  font-size: 2.25rem;
}

.contact_header p {
  font-size: 1.25rem;
}

.contact__body input {
  margin-bottom: 1rem;
  width: 100%;
}

.contact__body textarea {
  margin-bottom: 1rem;
  width: 100%;
}

.contact__body label {
  font-weight: 500;
  font-size: 0.875rem;
}

.contact__body .splitted {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}